@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300;400&family=Shadows+Into+Light&display=swap');

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    border-top: 0;
    border-bottom: 0;
    height: 100vh;
    margin: 0;
}

.container-left {
    background: url(images/white-dog.jpg) no-repeat center;
    background-size: cover;
    width: 45%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
} 

.container-right {
    width: 55%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

.logoContainer {
    display: flex;
    background-color: black;
    position: relative;
    top: 40%;
    opacity: 0.40;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    }

.textContent {
    color: whitesmoke;
    font-size: 3.5rem;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.textLogo {
    font-size: 10rem;
    color: white;
    padding: 0;
    margin: 0;
}

.subContainer_1 {
    height: 30%;
    background-color: rgb(243, 237, 230);
    font-size: 1.25rem;
    text-align: left;
    padding: 0 3%;
    
    
}
.textContent_right-1 {
    color: rgb(80, 80, 78);
    position: relative;
    top: 35%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    
}

.subContainer_2 {
    display: flex;
    flex-direction: column;
    height: 40%;
    box-shadow: 0px 0px 100px #d4d4d0;
    clip-path: inset(-5px -5px -5px 0);
    padding-left: 5%;
    
   
}


.subContainer_2-header{
    padding: 0;
    padding-top: 4%;
    font-size: 1.5rem;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    padding-left: 1%;
    padding-top: 2%;
}

li {
    margin: 1rem 2rem 2rem 0 ;
    margin-right: 5rem;
}
label {
    color: rgb(54, 53, 53);
    font-size: 0.9rem;
}
input {
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    padding: 0.2rem;
}

input:focus {
    border: skyblue ;
    box-shadow: 0.2rem 0.3rem 5px gray;
}

input:invalid {
    border: 2px solid red;
    box-shadow: 0.05rem 0.05rem 3px crimson;
}
.subContainer_3 {
    height: 30%;
    background-color: rgb(243, 237, 230);
    
}
.createAccount {
    background-color: rgb(218, 207, 162);
    font-size: 1rem;
    margin: 1.5rem;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0.2rem 0.5rem 10px gray;
    color: rgb(95, 95, 91);
    font-weight: bolder;
}

.createAccount:hover {
    position:relative;
    color:white;
    top:0.1rem;
}

.login {
    margin-left: 2rem;
    color:  rgb(44, 44, 43);;
}

a {
    color: rgb(95, 95, 91);
    text-decoration: none;
    
}

